.Homepage {
    background: linear-gradient(180deg, #58E22A 0%, #49C7FB 50%);
    height: 100vh;
    width: 100%;
    position: relative;
}


/*          TabBar           */
#TabBar {
    border-radius: 40px 40px 0px 0px;
    background: #B4EBC2;
    width: 100%;
    height: 93px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.IconBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Icon {
    color: #30954B;
    font-size: 20px;
    text-decoration: none;
}

.IconText {
    font-size: 15px;
    color: #30954B;
    margin-top: 5px;
}

/*          Boxalert         */
#Boxalert {
    padding: 10px;
    border-radius: 30px 30px 0px 0px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    overflow: auto;
}

.topBoxalert {
    text-align: center;
    color: #53D976;
    margin: auto;
    font-size: 20px;
    display: block;
}

a {
    text-decoration: none !important;
}

.box {
    width: 80%;
    height: 100%;
    background: #B4EBC2;
    margin: auto;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.Iconbox {
    background-color: #30954B;
    width: 80px;
    height: 80px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

/*        Header       */
.Banner {
    width: 250px;
    height: 150px;
    margin: auto;
    display: block;
    margin-top: 30px;
}

.icon-back {
    position: absolute;
    top: 10px;
    left: 10px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}

.logoBKK {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.title-content {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
}